@import url('https://fonts.googleapis.com/css?family=Londrina Solid');

*, *::before, *::after {
    box-sizing: border-box;
    color: white;
    font-family: Londrina Solid, sans-serif;

}

body {
    background-color: #000518 ;
}

.main-logo {
    display: flex;
    margin: 1em 1.5em;
}

li {
    list-style: none;
}

a {
    margin: 1em;
    padding: 0;
    text-decoration: none;
    font-size: 28px;
}

a:hover {
    color: grey;
}

.btn {
    background-color: #00A3FF;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
}

.highlight-text {
    color: #FF0000;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

.main-navbar {
    display: flex;
}

.main-image {
    width: 600px;
    height: 300px;
}

.main-page-container {
    display: flex;
    margin: 2em auto;
    align-items: center;
    justify-content: center;
    background-color: #394564;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em 5em;
}

.background-highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 80vw;
}

@media (max-width: 900px) {
    body,
    .main-page-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 20px;
    }

    .main-image, 
    .about-us-image {
        display: none;
    }

    .main-header {
        flex-wrap: wrap;
        font-size: 5px;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        margin-left: -16em;
    }
} 

.about-us-container {
    display: flex;
    justify-content: space-between;
    margin: 3em auto;
    width: 80vw;
}

.about-us-image {
    width: 500px;
    height: 600px;
}

.about-us-text {
    margin: 0 5em;
    text-align: center;
    flex: 1;
}

.hero-text {
    text-align: center;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 6em auto;
    height: 5em;
}

.img-with-text {
    text-align: center;
}

.instructors-container {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    gap: 3em;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}


.subtext {
    max-width: 350px;
    margin-top: 2em;
}

.testimonies {
    height: 500px;
    width: 100vw;
    background-color: #394564;
    margin: 3em auto;
}

.testimonies-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
}

.title {
    margin-top: 1em;
    font-size: 40px;
}

.testimony-wrapper {
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: #9DCEDD;
    border-radius: 20px;
}

.testimony-img {
    display: flex;
    margin: 1.5em auto;
}

#test-highlight {
    border-bottom: solid 2px #FF0000;
}

#sign-up-highlight {
    color: #FF0000;
    font-size: 50px;
}

#call-to-action {
    font-size: 35px
}

.sign-up-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 650px;
    height: 500px;
    padding: .5em 2em;
    background-color: #394564;
    border-radius: 20px;
}

.form-text {
    font-size: 30px;
    margin-top: -1em;
}

.input-field {
    background-color: #394564;
    border: 2px solid #3965FF;
    border-radius: 15px;
    height: 4em;
    margin-top: -3em;
}

#call-to-action-btn {
    height: 50px;
    background-color: #00A3FF;
    border: none;
    border-radius: 15px;
    font-size: 35px;
}


