@import url('https://fonts.googleapis.com/css?family=Londrina Solid');

*, *::before, *::after {
    box-sizing: border-box;
    color: white;
    font-family: Londrina Solid, sans-serif;

}

body {
    background-color: #000518 ;
}

.main-logo {
    display: flex;
    margin: 1em 1.5em;
}

li {
    list-style: none;
}

a {
    margin: 1em;
    padding: 0;
    text-decoration: none;
    font-size: 28px;
}

a:hover {
    color: grey;
}

.btn {
    background-color: #00A3FF;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
}

.highlight-text {
    color: #FF0000;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

.main-navbar {
    display: flex;
}

.main-image {
    width: 600px;
    height: 300px;
}

.main-container {
    display: flex;
    margin: 2em auto;
    align-items: center;
    justify-content: center;
    background-color: #394564;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5em;
}

.background-highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 80vw;
}


